.background-room {
  background: center / cover no-repeat fixed
      linear-gradient(rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5) 100%),
    url("../img/room/bg.gif") rgb(46, 44, 44, 0.9);
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 100;
}

.room-song-details {
  width: 50%;
  height: 100%;
}

.room-chat-details {
  height: 100%;
  width: 50%;
}

.room-leave-button {
  cursor: pointer;
  position: absolute;
  top: 5px;
  left: 5px;
  padding: 5px;
  border: 3px solid white;
  border-radius: 5px;
  text-align: center;
  color: white;
}

.room-leave-button:hover {
  background: white;
  color: red;
}

.room-user {
  position: absolute;
  cursor: unset;
  top: 5px;
  right: 5px;
  padding: 5px;
  border: 3px solid white;
  border-radius: 20px;
  border-color: white;
  text-align: center;
  color: white;
}

.details-icon {
  position: absolute;
  cursor: pointer;
  top: 40px;
  right: 5px;
  width: 50px;
  height: 50px;
  border-color: #fff;
}

.details-icon:hover + .details-tooltiptext {
  visibility: visible;
}

.details-tooltiptext {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  z-index: 1;
  position: absolute;
  top: 80px;
  right: 10px;
  font-size: small;
  background: transparent;
}

.room-temp {
  border: 1px solid red;
  width: 50%;
  color: #fff;
  margin: auto;
  cursor: pointer;
}

.track-playlist-wrapper {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  max-width: 400px;
  width: 100%;
  height: 500px;
  background: transparent;
  border-radius: 20px;
  border: 4px solid white;
  padding: 5px;
  padding-bottom: 75px;
}

.room-player-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  width: 100%;
  background: transparent;
  border-radius: 5px;
  border: 3px solid white;
  padding: 10px;
  position: relative;
}

.track-playlist-header-wrapper {
  display: flex;
  width: 100%;
  height: 30px;
}

.track-header {
  width: 50%;
  color: gray;
  text-align: center;
  padding-top: 5px;
  cursor: pointer;
}

.track-header-selected {
  width: 50%;
  color: black;
  text-align: center;
  font-weight: bolder;
  padding-top: 5px;
  background: white;
  border-radius: 15px;
  cursor: pointer;
}

.playlist-header {
  width: 50%;
  color: gray;
  text-align: center;
  padding-top: 5px;
  cursor: pointer;
}

.playlist-header-selected {
  width: 50%;
  color: black;
  text-align: center;
  font-weight: bolder;
  padding-top: 5px;
  background: white;
  border-radius: 15px;
  cursor: pointer;
}

.track-playlist-search {
  width: 60%;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid gray;
  display: flex;
  border-radius: 15px;
  height: 30px;
}

.room-search-text {
  width: 85%;
  outline: none;
  border-radius: 15px;
  padding-left: 10px;
}

.room-search {
  width: 20%;
  display: flex;
  align-items: center;
  position: relative;
}

.search-icon {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: auto;
  cursor: pointer;
}

.search-tooltiptext {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  z-index: 1;
  position: absolute;
  top: 2px;
  right: -40px;
  font-size: small;
  background: transparent;
}

.search-icon:hover + .search-tooltiptext {
  visibility: visible;
}

.track-playlist-search-results {
  max-height: 418px;
  height: 100%;
  width: 100%;
  border-radius: 15px;
  border: 3px solid white;
  padding: 5px 5px 0px 5px;
  overflow-y: auto;
}

.track-playlist-search-results::-webkit-scrollbar {
  display: none;
}

.room-members-wrapper {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  width: 60%;
  height: 250px;
  background: transparent;
  border-radius: 5px;
  border: 1px solid white;
  padding: 5px;
  overflow: auto;
}

.room-members-wrapper::-webkit-scrollbar {
  display: none;
}

.room-member {
  color: #fff;
  margin: 3px;
}

.room-member-header {
  color: #fff;
  text-align: center;
  border: 1px solid white;
  border-radius: 5px;
}

.room-chat-wrapper {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  width: 100%;
  height: 400px;
  background: transparent;
  border-radius: 5px;
  padding: 5px;
  position: relative;
}

.room-chat-header {
  color: rgb(247, 242, 242);
  text-align: center;
  font-size: xx-large;
  border: 3px solid #056162;
  border-radius: 5px;
  font-family: Segoe UI, Helvetica Neue, Helvetica, Lucida Grande, Arial, Ubuntu,
    Cantarell, Fira Sans, sans-serif;
  background-color: #215971;
}

.room-chat-message-wrapper {
  position: absolute;
  bottom: 10px;
  height: 40px;
  display: flex;
  width: 98%;
  border: 3px solid #056162;
  font-family: Segoe UI, Helvetica Neue, Helvetica, Lucida Grande, Arial, Ubuntu,
    Cantarell, Fira Sans, sans-serif;
  border-radius: 30px;
}

.room-chat-text-wrapper {
  width: 85%;
  display: flex;
  align-items: center;
}

.room-chat-text {
  width: 100%;
  height: 100%;
  font-family: Segoe UI, Helvetica Neue, Helvetica, Lucida Grande, Arial, Ubuntu,
    Cantarell, Fira Sans, sans-serif;
  border-radius: 30px;
  outline: none;
  padding-left: 10px;
}

.room-chat-send-button {
  font-family: Segoe UI, Helvetica Neue, Helvetica, Lucida Grande, Arial, Ubuntu,
    Cantarell, Fira Sans, sans-serif;
  color: rgb(247, 242, 242);
  display: flex;
  align-items: center;
  width: 15%;
  justify-content: center;
  cursor: pointer;
  font-size: 15px;
}

.room-text-area {
  position: absolute;
  bottom: 60px;
  left: 10px;
  right: 10px;
  top: 60px;
  background-color: #090e11;
  border-radius: 20px;
  padding: 10px;
  overflow: auto;
}

.room-text-area::-webkit-scrollbar {
  display: none;
}

.room-text-area-label {
  width: fit-content;
  margin: auto;
  background-color: #262d31;
  color: #fff;
  padding: 2px;
  font-size: 13px;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.chat-message-wrapper {
  width: 100%;
  display: flex;
}

.chat-sender {
  background-color: #056162;
  margin: 2px;
  border-radius: 5px;
  padding: 0px 5px 5px 5px;
  max-width: 90%;
  width: fit-content;
  margin-left: auto;
  font-family: Segoe UI, Helvetica Neue, Helvetica, Lucida Grande, Arial, Ubuntu,
    Cantarell, Fira Sans, sans-serif;
  color: #d4d5d7;
}

.chat-receiver {
  background-color: #262d31;
  margin: 2px;
  border-radius: 5px;
  padding: 0px 5px 5px 5px;
  max-width: 90%;
  width: fit-content;
  margin-right: auto;
  font-family: Segoe UI, Helvetica Neue, Helvetica, Lucida Grande, Arial, Ubuntu,
    Cantarell, Fira Sans, sans-serif;
  color: #d4d5d7;
}

.chat-name {
  font-size: small;
  color: #6bcbef;
}

.transparent-wrapper {
  background-color: transparent;
  z-index: 1000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
