.background-room {
  background: center / cover no-repeat fixed url("../img/room/bg.gif");
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
}

.room-song-details {
  width: 50%;
  height: 100%;
}

.room-chat {
  height: 100%;
}

.room-leave-button {
  cursor: pointer;
  position: absolute;
  top: 5px;
  left: 5px;
  padding: 5px;
  border: 1px solid white;
  border-radius: 5px;
  text-align: center;
  color: white;
}

.room-leave-button:hover {
  background: white;
  color: red;
}

.room-code {
  position: absolute;
  cursor: pointer;
  top: 5px;
  right: 5px;
  padding: 5px;
  border: 1px solid white;
  border-radius: 5px;
  border-color: crimson;
  text-align: center;
  color: white;
}

.room-code .room-tooltiptext {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}

.room-tooltiptext {
  position: relative;
  top: 20px;
  left: 25%;
  background: transparent;
}

.room-code:hover .room-tooltiptext {
  visibility: visible;
}

.room-temp {
  border: 1px solid red;
  width: 50%;
  color: #fff;
  margin: auto;
  cursor: pointer;
}

.track-playlist-wrapper {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
  width: 100%;
  height: 500px;
  background: transparent;
  border-radius: 5px;
  border: 1px solid white;
  padding: 5px;
}

.track-playlist-header-wrapper {
  display: flex;
  width: 100%;
  height: 30px;
}

.track-header {
  width: 50%;
  color: gray;
  text-align: center;
  padding-top: 5px;
  cursor: pointer;
}

.track-header-selected {
  width: 50%;
  color: black;
  text-align: center;
  font-weight: bolder;
  padding-top: 5px;
  background: white;
  border-radius: 5px;
  cursor: pointer;
}

.playlist-header {
  width: 50%;
  color: gray;
  text-align: center;
  padding-top: 5px;
  cursor: pointer;
}

.playlist-header-selected {
  width: 50%;
  color: black;
  text-align: center;
  font-weight: bolder;
  padding-top: 5px;
  background: white;
  border-right: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
}

.track-playlist-search {
  width: 60%;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid gray;
  display: flex;
  border-radius: 5px;
  height: 30px;
}

.room-search-text {
  width: 85%;
  outline: none;
}

.room-search {
  width: 20%;
  display: flex;
  align-items: center;
}

.search-icon {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: auto;
  cursor: pointer;
}

.track-playlist-search-results {
  max-height: 418px;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: 1px solid white;
  padding: 5px 5px 0px 5px;
  overflow-y: auto;
}
