.background-room {
  background: center / cover no-repeat fixed url("../img/room/bg.gif");
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
}

.room-song-details {
  width: 50%;
  height: 100%;
  border: 1px solid white;
}

.room-chat {
  width: 50%;
  height: 100%;
  border-right: 1px solid white;
}

.room-leave-button {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px;
  border: 1px solid white;
  border-radius: 5px;
  text-align: center;
  color: white;
}

.room-leave-button:hover {
  background: white;
  color: red;
}

.room-code {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 3px;
  padding: 5px;
  border: 1px solid white;
  border-radius: 5px;
  border-color: crimson;
  text-align: center;
  color: white;
}

.room-code .room-tooltiptext {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}

.room-tooltiptext {
  position: relative;
  top: 20px;
  left: 25%;
  background: transparent;
}

.room-code:hover .room-tooltiptext {
  visibility: visible;
}
